# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Supabase
SUPABASE_URL=sua_url_do_supabase
SUPABASE_SERVICE_ROLE_KEY=sua_chave_de_servico_do_supabase

# Configurações de Segurança
CORS_ORIGIN=http://localhost:3000
