# Web Frameworks and UI
Flask
Flask-Cors
streamlit

# PDF and Image Processing
PyPDF2
Pillow
pdf2image
pytesseract

# Data Scraping and HTTP Requests
beautifulsoup4
requests
tqdm

# Data Handling
pandas

# API Clients and Helpers
supabase
tenacity