.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.git/
.gitignore
README.md
.vscode/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
android/
ios/
linux/
macos/
windows/
web/
test/
integration_test/ 